<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangyongdong.sale.user.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.tangyongdong.sale.user.domain.db.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sys_admin" jdbcType="INTEGER" property="sysAdmin" />
  </resultMap>
  <sql id="Base_Column_List">
    id, token, name, phone, gender, status, sys_admin
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from s_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tangyongdong.sale.user.domain.db.User">
    insert into s_user (id, token, name, 
      phone, gender, status, sys_admin
      )
    values (#{id,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{sysAdmin,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tangyongdong.sale.user.domain.db.User">
    insert into s_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sys_admin != null">
        sys_admin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sys_admin != null">
        #{sysAdmin,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tangyongdong.sale.user.domain.db.User">
    update s_user
    <set>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sys_admin != null">
        sys_admin = #{sysAdmin,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tangyongdong.sale.user.domain.db.User">
    update s_user
    set token = #{token,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      sys_admin = #{sysAdmin,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from s_user
    where phone = #{phone,jdbcType=VARCHAR}
    and status = 1
  </select>

  <select id="selectByUserToken" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from s_user
    where token = #{userToken,jdbcType=VARCHAR}
    and status = 1
  </select>
</mapper>